body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: lightcoral;
    margin: auto;
}
hr {
    border: 1px solid black;
    margin-bottom: 25px;
}
/*header style*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    /*border: 1px solid black;*/
    background-color: #04AA6D;
    width: 100%;
    color: lightcoral;
}
header a {
    text-decoration: none;
    color: lightcoral;
}
/*main style*/
main {
    /*width: 100%;*/
    background-color: blanchedalmond;
    padding: 55px 0px;
    border: 1px solid black;
    border-radius: 105px;
}
/*footer styles*/
footer{
    background-color:#04AA6D;
    width: 100%;
    font-family: "Open Sans";
    /*padding-top: 40px;*/
    color: lightcoral;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
}
.socials a:hover i{
    color: aqua;
}

/*index*/

/*inscription*/
.ins {
    padding: 16px;
    background-color: blanchedalmond;
    /*display: grid;
    justify-items: center;*/
}
.inla {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_ins {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
/*connexion*/
.connect{
    padding: 64px;
    background-color: blanchedalmond;
    /*display: grid;
    justify-items: center;*/
}
.inlaconn {
    display: flex;
    justify-content: space-around;
}
.button_connect {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
/*profil*/
.pro {
    padding: 64px;
    background-color: blanchedalmond;
}
.button_inp {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    /*border: none;*/
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.inlapro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inp {
    display: flex;
}
/*admin*/
.tabadmin {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px outset lightskyblue;
}
th {
    background-color: lightgrey;
    color: lightcoral;
    text-align: left;
}
th, td {
    padding: 20px 25px;
}
tbody tr, td, th {
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
tbody tr:nth-child(odd) {
    background-color: #04AA6D;
}